@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    position: fixed;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    /* background-color: rgb(8, 108, 239); */
    z-index: 999;
    transition: all 0.3s ease;
    padding: 30px 0;
}
.navbar .menu li a{
    color : #fff;
    transition:color 0.3s ease;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
.navbar .menu li a:hover{
    color:royalblue;
}
.navbar.sticky .menu li a:hover{
    color :#fff;
}
.navbar .logo a span{
    color:royalblue;
    transition:color 0.3s ease;
}
.navbar .logo a{
    color : #fff;
    font-size: 35px;
    font-weight: 600;

}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar.sticky{
    padding : 15px 0;
    background-color: royalblue;
}
.navbar.sticky .logo a span{
    color: #fff;

}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* part 2 styling */

.home{
    display: flex;
    background: url("image/Untitled\ design (4).png") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin:auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 30px;
}
.home .home-content .text-2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color:royalblue ;
    font-weight: 500;
}
.home .home-content .re-type-text {
    font-size: 32px;
}
.home .home-content .re-type-text span{
    color:royalblue ;
}

/* dropdown bar styling */
.menu-btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
/* part 3 styling */
section{
    padding: 60px 0;
}

.about, .ts, .skill ,.project,.contact,.stat{
    font-family: 'Poppins',sans-serif;
}
section .title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.about .about-content .left{
    width: 45%;
}
.about .about-content, .ts .ts-content, .skill .skill-content, .project .project-content,.stat .stat-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color:royalblue;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: royalblue;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid royalblue;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: royalblue;
    background: none;
}
 
/* tech stack styling */

.ts{
    background: #111;
    color: #fff;
}
.ts .ts-content .card{
    width: calc(33% -20px) ;
    background: #222;
    text-align: center;
    border-radius: 7px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.ts .ts-content .card img{
    height: 100px;
}
.ts .ts-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 8px 0;
}
.ts .ts-content .card .box{
   transition: all 0.3s ease;
}
.ts .ts-content .card:hover .box{
transform: scale(1.5);
}
.ts .ts-content .card:hover{
    background: rgb(71, 70, 70)
    /* background: rgb(51, 50, 50); */
}

 /* skills */
 
 .skill{
    background: royalblue;
    color: #fff;
}
.skill .skill-content .card{
    width: calc(33% -20px) ;
    /* background: #222; */
    background:royalblue;
    text-align: center;
    border-radius: 7px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}
.skill .skill-content .card svg{
    height: 100px;
}
.skill .skill-content .card img {
    height: 100px;
}
.skill .skill-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 8px 0;
}
.skill .skill-content .card .box{
   transition: all 0.3s ease;
}
.skill .skill-content .card:hover .box{
transform: scale(1.07);
}
.skill .skill-content .card:hover{
    /* background: rgb(71, 70, 70) */
    background: royalblue;
    /* background: rgb(51, 50, 50); */
}

/* stat section  */

.stat{
    background: #fff;
    color: #222;
}
.stat .stat-content .card{
    width: calc(33% -20px) ;
    background: #fff;
    text-align: center;
    border-radius: 7px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.stat .stat-content .card img{
    height: 120px;
}
.stat .stat-content .card .box .text{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0 8px 0;
}
.stat .stat-content .card .box{
   transition: all 0.3s ease;
}
.stat .stat-content .card:hover .box{
transform: scale(1.07);
}
/* .stat .stat-content .card:hover{
    background: rgb(71, 70, 70)
   
} */

/* project scetion  */


.project{
    background: #fff;
    /* color: #fff; */
}
.project .project-content .card{
    width: calc(33% -20px) ;
    /* background: #222; */
    /* background: rgb(8, 108, 239); */
    text-align: center;
    border-radius: 7px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.project .project-content .card img {
    height: 200px;
    width: 100%;
}
.project .project-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 8px 0;
}
.project .project-content .card .box{
   transition: all 0.3s ease;
}
.project .project-content .card:hover .box{
transform: scale(1.07);
}
.project .project-content .card:hover{
    /* background: rgb(71, 70, 70) */
    background:royalblue;
    /* background: rgb(51, 50, 50); */
}

.source-btn>button{
    padding: 8px 13px;
    border-radius:8px;
    border-color: royalblue;
}
.source-btn .git-btn{
    font-weight: 600;
    color:  royalblue;
}
.source-btn .demo-btn{
    background-color: royalblue;
    font-weight: 600;
    color: #fff;
}
    .source-btn>.demo-btn>a{
        text-decoration: none;
        color: #fff;
}


.contact {
    background: royalblue;
    color: #fff;
    text-align: center;
    height: 250px;
}
.contact .mailnum{
    text-align: center;
    /* flex-wrap: wrap; */
    /* margin: auto; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 30px; */
}
.contact .icon{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.contact .icon i{
    color: #fff;
    font-size: 33px;
}
.contact .title2{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-bottom: 10px;
}



/* media for responsive  */

@media (max-width: 960px) {
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        background: #111;
        height: 100vh;
        top: 0;
        left: -100%;
        width: 100%;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .menu-btn i.active:before{
        content:"\f00d";
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .menu.active{
        left: 0 ;
    }
    .home .home-content .text-2{
        font-size: 65px;
    }
    .home .home-content .text-3{
        font-size: 33px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
       display: flex;
       justify-content: center;
       margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .max-width{
        max-width: 800px;
    }

    .ts .ts-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skill .skill-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .project .project-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .stat .stat-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    
    #section-2 {
        margin-top: -10%;
    }
    .stats-2 img{
        width: 35%;
    }
}

@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
    .stats-2 img{
        width: 35%;
    }
}
@media (max-width: 1100px){
    .about .about-content .left img{
        height:350px;
        width: 350px;

    }
    .skill .skill-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .project .project-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .stat .stat-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .stats-2 img{
        width: 35%;
    }
}
@media (max-width: 991px){
     .max-width{
        padding: 0 50px;
    }
    .stats-2 img{
        width: 35%;
    }
}
@media (max-width: 650px){
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }
    .max-width{
        padding: 0 25px;
    }
    
    .ts .ts-content .card{
        width: 100%;
        margin-bottom: 20px;
    }
    .skill .skill-content .card{
        width: 100%;
        margin-bottom: 20px;
    }
    .project .project-content .card{
        width: 100%;
        margin-bottom: 20px;
    }
    .stat .stat-content .card{
        width: 100%;
        margin-bottom: 20px;
    }
    /* .contact .mailnum{
        width: 100%;
    } */
    #section-2 {
        margin-top: -20%;
    }
    .stats-2 img{
        width: 35%;
    }
}
@media (max-width: 450px){

    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 26px;
    }
    #section-2 {
        margin-top: -20%;
    }


    .stats-2 img{
        width: 35%;
    }
}


.stats-2{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    gap: 10px;
    margin-bottom: 2%;
}
.stats-2 img{
    width: 37%;
}